# TUPLES

### heterogeneous data handler

In [11]:
#empty tuple
t1=()

In [12]:
t1

()

In [13]:
#Tuple with single element
t2=(121,)

In [14]:
t2

(121,)

In [15]:
#Tuple with multiple elementa
t3=(121,'Bioinformatcs', 3.14, 233, 'Genomics')

In [16]:
t3

(121, 'Bioinformatcs', 3.14, 233, 'Genomics')

# Indexing a tuple

In [17]:
t3[0]

121

In [18]:
t3[1]

'Bioinformatcs'

In [19]:
t3[2]

3.14

In [20]:
t3[3]

233

In [21]:
t3[4]

'Genomics'

In [22]:
t3[-5]

121

In [23]:
t3[-1]

'Genomics'

In [25]:
t3[0:2]

(121, 'Bioinformatcs')

In [26]:
t3[0:4]

(121, 'Bioinformatcs', 3.14, 233)

In [28]:
t3[0:3]

(121, 'Bioinformatcs', 3.14)

In [29]:
t3[0:1]

(121,)

# Way of creating Tuples

In [75]:
t4=tuple('Phylogeny')

In [76]:
t4

('P', 'h', 'y', 'l', 'o', 'g', 'e', 'n', 'y')

In [77]:
t5=tuple([11, 12, 13, 23, 33, 43, 53])

In [78]:
t5

(11, 12, 13, 23, 33, 43, 53)

In [79]:
t6=tuple([(a, a**2) for a in range(6)])

In [80]:
t6

((0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25))

In [81]:
t7=tuple([(a, a*2) for a in range(6)])

In [82]:
t7

((0, 0), (1, 2), (2, 4), (3, 6), (4, 8), (5, 10))

In [83]:
t8=tuple([(a, a*5) for a in range(10)])

In [84]:
t8

((0, 0),
 (1, 5),
 (2, 10),
 (3, 15),
 (4, 20),
 (5, 25),
 (6, 30),
 (7, 35),
 (8, 40),
 (9, 45))

In [86]:
t9=tuple(range(10))

In [87]:
t9

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Tuples are immutable

In [101]:
#Let us take example of tuple t3
t3

(121, 'Bioinformatcs', 3.14, 233, 'Genomics')

In [102]:
# Print the 2nd item
t3[1]

'Bioinformatcs'

In [103]:
#Let us try to mutate the 2nd item. It gives error
t3[1] ='Biology'

TypeError: 'tuple' object does not support item assignment

In [104]:
#One more example 
t3[1:3]

('Bioinformatcs', 3.14)

In [105]:
#Let us try to mutate these items. Again it gives error
t3[1:3] =('Zoology', 4.28)

TypeError: 'tuple' object does not support item assignment

# Tuple Operations

In [106]:
t3

(121, 'Bioinformatcs', 3.14, 233, 'Genomics')

In [107]:
'Genomics' in t3

True

In [108]:
'Omics' in t3

False

# Length - len - number of items in a tuple

In [109]:
len(t1), len(t2), len(t3), len(t4), len(t5), len(t6), len(t7), len(t8), len(t9)

(0, 1, 5, 9, 7, 6, 6, 10, 10)

In [110]:
len(t2)

1

In [111]:
len(t3)

5

# max - returns the maximum element in the tuple

In [112]:
max(t6)

(5, 25)

In [113]:
max(t5), max(t6), max(t7), max(t8), max(t9)

(53, (5, 25), (5, 10), (9, 45), 9)

# min - returns the minimum element in the tuple

In [114]:
min(t6)

(0, 0)

In [115]:
min(t5), min(t6), min(t7), min(t8), min(t9)

(11, (0, 0), (0, 0), (0, 0), 0)

# sorted - sort a tuple

In [116]:
#Let us sort tuple t3
sorted(t3) 
#It gave error because of heterologous data

TypeError: '<' not supported between instances of 'str' and 'int'

In [117]:
#Let us sort tuple t5
sorted(t5)

[11, 12, 13, 23, 33, 43, 53]

In [123]:
# sum t5

In [124]:
sum(t5)

188

In [125]:
# Find out index of 13
t5.index(13)

2

In [126]:
# Find out index of 43
t5.index(43)

5

In [127]:
# Count 13
t5.count(13)

1

In [128]:
# Count 53
t5.count(53)

1

In [129]:
t10 = (10, 20, 30, 60, 40, 70, 50)

In [130]:
t10

(10, 20, 30, 60, 40, 70, 50)

In [131]:
sorted(t10)

[10, 20, 30, 40, 50, 60, 70]

In [132]:
t10

(10, 20, 30, 60, 40, 70, 50)

In [135]:
t11 = tuple(reversed(t10))

In [136]:
t11

(50, 70, 40, 60, 30, 20, 10)

In [137]:
sorted(t11)

[10, 20, 30, 40, 50, 60, 70]

# Concatenating tuples

In [138]:
t5

(11, 12, 13, 23, 33, 43, 53)

In [139]:
t10

(10, 20, 30, 60, 40, 70, 50)

In [140]:
t11

(50, 70, 40, 60, 30, 20, 10)

In [141]:
t5+t10

(11, 12, 13, 23, 33, 43, 53, 10, 20, 30, 60, 40, 70, 50)

In [142]:
t11+t5

(50, 70, 40, 60, 30, 20, 10, 11, 12, 13, 23, 33, 43, 53)

In [143]:
t12=t5+t10

In [144]:
t13=t11+t5

In [145]:
t12

(11, 12, 13, 23, 33, 43, 53, 10, 20, 30, 60, 40, 70, 50)

In [146]:
t13

(50, 70, 40, 60, 30, 20, 10, 11, 12, 13, 23, 33, 43, 53)

# Compare two tuples

In [153]:
t12<t13

True

In [154]:
t13>t12

True

In [155]:
t5>t10

True

In [156]:
t5<t10

False

In [157]:
t5==t10

False

# Varieties of Tuples

### Tuple of tuples

In [159]:
t14=(t3,t13)

In [160]:
t14

((121, 'Bioinformatcs', 3.14, 233, 'Genomics'),
 (50, 70, 40, 60, 30, 20, 10, 11, 12, 13, 23, 33, 43, 53))

In [161]:
print (t14[0][0])

121

In [163]:
print (t14[0][1], t14[1][1], t14[0][4], t14[1][10])

Bioinformatcs 70 Genomics 23

### Embedded tuple

In [164]:
t3

(121, 'Bioinformatcs', 3.14, 233, 'Genomics')

In [165]:
t5

(11, 12, 13, 23, 33, 43, 53)

In [166]:
t15=(11, 12, 13, 23, 33, t3, 43, 53)

In [167]:
t15

(11, 12, 13, 23, 33, (121, 'Bioinformatcs', 3.14, 233, 'Genomics'), 43, 53)

### unpacking a tuple within a tuple

In [171]:
t16=(11, 12, 13, 23, 33, *t3, 43, 53)

In [172]:
t16

(11, 12, 13, 23, 33, 121, 'Bioinformatcs', 3.14, 233, 'Genomics', 43, 53)